.navBarItem {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: transparent;
  } 
.navBarItem:hover {
  background-color: #4BBEB9;
}
.navBarBg {
    background-color: #ECECEC;
    width: 100%;
    height: 30px;
    flex-direction: row;
    display: flex;
    align-items: center;
}
.line {
  background-color: black;
  height: 1px;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.logo {
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: transparent;
}
.logo:hover {
  background-color: #4BBEB9;
}

.header {
  background-color: #ECECEC;
  height: 1.5vw;
  flex-direction: row;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
}

.headerTitle {
  color: black;
  font-size: 12px;
  font-weight: 400;
} 

.exitButton {
  color: black;
  font-size: 12px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.titleText {
  font-family: 'SpaceGrotesk';
  font-size: 4vw;
  font-weight: 600;
  margin-top: 0.25vw;
  margin-bottom: 0px;
}